.benner{
    background-image: url(../assets/background.jpg);
    height:300vh;
    background-position: bottom;
    width: 100%;
    background-size: cover;
    background-position: center;
}
@media (max-width: 1024px) {
    .benner{
        background-image: url(../assets/background.jpg);
        height:380vh;
        background-position: bottom;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
}
@media (max-width:800px) {
    .benner{
        background-image: url(../assets/background.jpg);
        height:300vh;
    }
}

@media (max-width:550px) {
    .benner{
        background-image: url(../assets/background.jpg);
        height:150vh;
    }
}
@media (max-width:400px) {
    .benner{
        background-image: url(../assets/background.jpg);
        height:1400px;
    }
}