*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color:rgb(33, 43, 30);
}
.footer-main{
    display: flex;
    margin: 0% 10%;
}
.footer-left-sec{
    width: 40%;
    height: 300px;
}
.footer-right-sec{
    width: 30%;
}
.footer-center-sec{
    width: 25%;
    text-align: center;
    align-items: center;
    padding-top: 4%;
}
.footer-nav{
   text-align: start;
   text-decoration: none;
}
.footer-nav ul{
    list-style: none;
    padding: 15%;
    line-height: 2;

}
.footer-nav ul li{
 font-size: 17px;
}
.footer-left-sec img{
    width: 55%;
    padding: 8%;
}
.footer-left-sec p{
    padding-left: 8%;
    width: 88%;
}
.footer-leng{
    display: flex;
    gap: 20px;
    padding-left: 8%;
    line-height: 4;
}
.footer-right-sec{
    margin-top: 4%;
    padding-left: 2%;
}
.footer-right-sec h1{
    font-size: 30px;
}
.footer-input-sec{
    margin-top: 50%;
    display: flex;
    height: 50px;
}
.input input{
    height:40px;
    background-color: rgba(240, 248, 255, 0.062);
    border: 1px solid rgba(255, 255, 255, 0.212);
    outline: none;
    padding-left: 5px;
}
.button button{
    height:40px;
    width: 100px;
    background-color: rgba(240, 248, 255, 0.904);
    border: 1px solid rgba(255, 255, 255, 0.212);
    color: rgba(0, 0, 0, 0.801);
    font-weight: 700;
}
@media (max-width: 768px) {
    .footer-main{
        display: block;
    }
    .footer-left-sec{
        text-align: center;
        width: auto;
        margin: 0;
        padding: 0;
    }
    .footer-left-sec p {
        padding-left: 10%;
    }
    .footer-center-sec{
        text-align: center;
        width: auto;
    }
    .footer-nav{
        text-align: center;
        width: auto;
        line-height: 0;
        
    }
    .footer-nav ul{
        padding:0;
    }
    .footer-leng{
        text-align: center;
        width: auto;
        padding-left: 22%;
    }
    .footer-right-sec{
        text-align: center;
        width: auto;
    }
    .footer-input-sec{
       line-height: 0;
       margin-top:10%;
       justify-content: center;
    }
    
}